@mixin center {
	display: flex;
	align-items: center;
}

.nav {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 78px;
	background: #161616;
	@include center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0px 48px;
	box-shadow: 0px 4px 20px -10px rgba(136, 136, 136, 0.5);
	.logo_container {
		@include center;
		height: 100%;
	}
	.nav_right {
		@include center;
		justify-content: space-between;
		flex-basis: 65%;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		gap: 16px;
		.filter_container {
			@include center;
			justify-content: flex-start;
			flex-wrap: nowrap;
		}
	}
}


@media only screen and (max-width: 1096px) {
	/* For mobile phones: */
	.nav {
		.nav_right{
			flex-basis: 80%;
		}
	}
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.nav {
		height: 148px;
		.logo_container {
			position: relative;
			transform: translateY(-25%);
		}
		.nav_right {
			position: absolute;
			right: 24px;
			transform: translateY(-60%);
			flex-basis: 50%;
			.filter_container {
				position: absolute;
				top: 135%;
				// left: -55%;
			}
		}
	}
}
